.student-btn {
    width: 190px;
    display: flex;
    justify-content: end;
  }
  
  .header-class {
    background-color: #88bdbc;
    font-weight: 900;
  }
  
  .student-info {
    font-size: 14px;
  }
  
  p {
    margin: 0px;
  }
  
  .student-badge {
    font-family: 16px;
  }
  
  .table-btn {
    font-size: 11px;
  }
  
  .student-title {
    font-weight: 600;
  }
  
  .user-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
  }