.exam-data {
  font-size: 13px;
}

.accordion-body {
  font-size: 13px;
}

.question-badge {
  font-size: 11px;
}

.exam-table {
  height: fit-content;
}

.download-btn {
  width: '130px';
  height: '38px';
  margin-left: '20px';
  margin-bottom: '20px';
}
