@media (min-width: 0px) {
  .login-card {
    width: 100vw;
    height: 95vh;
  }

  .login-img {
    width: 320px;
  }

  .title-text {
    text-align: center;
    padding-top: 50px;
  }
}

@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .login-card {
    width: 70vw;
    height: 75vh;
    margin-top: 30px;
  }

  .login-img {
    width: 400px;
  }

  .title-text {
    text-align: center;
    padding-top: 50px;
  }

  .login-form {
    margin-top: 130px;
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  .login-card {
    width: 50vw;
    height: fit-content;
  }

  .login-background {
    height: 100vh;
  }

  .login-img {
    width: 90%;
    height: auto;
  }

  .title-text {
    text-align: center;
    padding-top: 50px;
  }

  .login-form {
    margin-top: 100px;
  }
}

.reset-password {
  font-size: 12px;
}

.form-control {
  font-size: 13px;
}

small {
  font-size: 11px;
}

.notification-container {
  font-size: 13px;
}
