@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
  .signup {
    width: 700px;
    margin-bottom: 30px;
  }
}

.content {
  max-width: 800px;
  margin: auto;
}

.create-student-modal-body {
  width: 750px;
  margin: auto;
}

.exam-login-container {
  height: 55vh;
  overflow: hidden;
  width: fit-content;
}

.exam-login-img {
  display: block;
  object-fit: cover;
  width: 100%;
  border-radius: 8px 0px 0px 8px;
  height: 100%;
}

.exam-login-card {
  width: 90vh;
}
